.track-status {
  border: 1px solid #e3e7ec;
  border-radius: 8px;
  .track-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e7ec;
    padding: 1em;
    @media screen and (max-width: 924px) {
      flex-direction: column;
    }
    ul {
      list-style: none;
      padding-inline: 1em;
      :first-child {
        color: #757575;
      }
      :last-child {
        font-size: 1.2rem;
        font-weight: 700;
        @media screen and (max-width: 924px) {
          font-size: 1rem;
        }
      }
    }
  }
}
