$red: #ff0000;
$orange: #e08c4c;
$green: #53cc7b;
%iconplaceholder {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ffffff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transform: scaleX(-1);
  @media screen and (max-width: 994px) {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }

  .unfinished-icon {
    @media screen and (max-width: 994px) {
      font-size: 1em !important;
    }
  }
}
.progress-container {
  .progress-content {
    padding: 2em 0;
    transform: scaleX(-1);
    padding-inline: 4em;

    .icon-red {
      @extend %iconplaceholder;
      border: 1px solid $red;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      background-color: $red;
      font-size: 2em;
    }
    .icon-green {
      @extend %iconplaceholder;
      border: 1px solid $green;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      background-color: $green;
      font-size: 2em;
    }
    .icon-orange {
      @extend %iconplaceholder;
      border: 1px solid $orange;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      background-color: $orange;
      font-size: 2em;
    }
    .delivered-icon {
      border: 1px solid #cfcdcd;
      background-color: #fff;
      color: #cfcdcd;
    }
    .icon-accomplished-red {
      @extend %iconplaceholder;
      border-radius: 50%;
      background-color: $red;
    }
    .icon-accomplished-orange {
      @extend %iconplaceholder;
      border-radius: 50%;
      background-color: $orange;
    }
    .icon-accomplished-green {
      @extend %iconplaceholder;
      border-radius: 50%;
      background-color: $green;
    }
  }

  .progress-states {
    ul {
      display: flex;
      justify-content: space-between;
      padding-top: 0.8em;
      font-size: 0.8rem;
      font-weight: bolder;
      list-style: none;
      padding-inline: 2rem;
      @media screen and (max-width: 994px) {
        font-size: 0.8rem;
        font-weight: 500;
      }
      li {
        text-align: center;
        .transiteventreason-red {
          color: $red;
        }
        .transiteventreason-orange {
          color: $orange;
        }
        .transiteventreason-green {
          color: $green;
        }
      }
    }
  }
}
